/* resets */
input, textarea {
    border: none;
}

button {
    border : none;
}

/* effect */
button:hover {
    background-color :antiquewhite;
    cursor: pointer;
}


/* layout */

body {
    background-color: aliceblue;
}

.container {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.content {
    padding: 2em;
}

#display {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

#display li {
    display: flex;
    flex-direction: column;
    max-width: 10em;
    gap: 20px;
}

