/* resets */
input, textarea {
    border: none;
}

button {
    border : none;
}

/* effect */
button:hover {
    background-color :antiquewhite;
    cursor: pointer;
}


/* layout */

body {
    background-color: aliceblue;
}

.layout {
    display: flex;
    margin: 3em;
}

.container {
    text-align: center;
    max-width: 300px;
}

.memo {
    max-height: 400px;
    margin-top: 2em;
    padding: 20px;
    background-color: #ffdb0f;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
}

#memo-title {
    margin-bottom: 1em;
}

#memo-content {
    margin-bottom: 1em;
}

.btn-group {
    display: flex;
    gap: 1em;
}

button {
    padding: 0.5em;
}

#add-btn {
    flex-grow: 1;
}


.content {
    padding: 2em;
}

#display {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

#display li {
    display: flex;
    flex-direction: column;
    max-width: 10em;
    gap: 20px;
}

