/* resets */
input, textarea {
    border: none;
    background-color: #ffdb0f;
    border-bottom: 1px solid #8f8e88;
}

button {
    border : none;
}

/* effect */
button:hover {
    background-color :antiquewhite;
    cursor: pointer;
}

/* layout */
body {
    background-color: aliceblue;
}

.layout {
    display: flex;
    margin: 0 3em;
}

.container {
    text-align: center;
    max-width: 300px;
}

.memo {
    max-height: 400px;
    margin-top: 2em;
    padding: 20px;
    background-color: #ffdb0f;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
}

#memo-title {
    margin-bottom: 1em;
}

#memo-content {
    margin-bottom: 1em;
}

.btn-group {
    display: flex;
    gap: 1em;
}

button {
    padding: 0.5em;
}

#add-btn {
    flex-grow: 1;
}


.content {
    padding: 2em;
    margin-left: 3em;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#display {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

#display li {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 280px;
    gap: 20px;
    background-color: #ffdb0f;
    border-radius: 0.5em;
}
